<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <script src="home.js" defer></script>
    <title>Document</title>
</head>
<body>
    <section class="slider">
        <div class="slider-content">
            <input type="radio" name="btn-radio" id="radio1">
            <input type="radio" name="btn-radio" id="radio2">
            <input type="radio" name="btn-radio" id="radio3">

            <div class="slide-box primeiro">
                <img class="img-desktop" src="/assets/img/desk1.png" alt="slide 1">
                <img class="img-mobile" src="/assets/img/1.png" alt="slide 1">
            </div>

            <div class="slide-box">
                <img class="img-desktop" src="/assets/img/desk2.png" alt="slide 2">
                <img class="img-mobile" src="/assets/img/2.png" alt="slide 1">
            </div>

            <div class="slide-box">
                <img class="img-desktop" src="/assets/img/desk1.png" alt="slide 3">
                <img class="img-mobile" src="/assets/img/1.png" alt="slide 1">
            </div>   

            <div class="nav-auto">
                <div  class="auto-btn1"></div>
                <div  class="auto-btn2"></div>
                <div  class="auto-btn3"></div>
            </div>

            <div class="nav-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
        </div>
    </section>

        </div>
    </section>
</body>
</html>