@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    font-family: 'Inter', sans-serif;
}

// Scrollbar
::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    margin-block: 0.1rem;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    border: 2px solid transparent;
}
