@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    font-family: 'Inter', sans-serif !important;
}

// Scrollbar
::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    margin-block: 0.1rem;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #263238;
    border-radius: 1rem;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2c98d6;
}
